---
import { Icon } from 'astro-icon/components';
import avatar from '../assets/avatar.png';
---

<div class="w-full min-w-0 max-w-[500px] md:max-w-[800px] py-10 px-5 lg:py-10 lg:px-20 2xl:py-15 2xl:px-30 relative z-20 card">
    <img src={avatar.src} width={avatar.width} height={avatar.height} alt="Reah Espino avatar" class="w-30 mb-5 lg:mb-6 lg:w-35 2xl:mb-10 2xl:w-45" />

    <h1 class="font-display text-5xl mb-3  xl:text-6xl 2xl:text-8xl">Reah Espino</h1>

    <p class="font-display text-2xl 2xl:text-3xl text-zinc-700 mb-7">Web UI/UX Designer</p>

    <p class="text-l lg:text-l 2xl:text-xl text-zinc-600 xl:mb-8 2xl:mb-10">I design seamless, user-driven journeys across
        web and product. Turning complex ideas into effortless experiences from homepage to dashboard.</p>

    <div class="mb-10 xl:mb-15 2xl:mb-25">
        <a class="button text-xl md:text-2xl" href="/files/portfolio.pdf" target="_blank">See Portfolio</a>
    </div>

    <div class="flex flex-col gap-5">
        <a href="mailto:reahespino.work@gmail.com" class="flex gap-2 items-center hover:text-zinc-600">
            <Icon name="paper-plain" class="text-3xl" />
            <span>reahespino.work@gmail.com</span>
        </a>
        <a href="https://www.linkedin.com/in/reahespino/" target="_blank" class="flex gap-2 items-center hover:text-zinc-600">
            <Icon name="linkedin" class="text-3xl"/>
            <span>https://www.linkedin.com/in/reahespino</span>
        </a>
    </div>
</div>